# FIXME: this file is temporary and works around an existing bug in debcargo
# See TODO.md for details.
Source: rust-num-bigint-0.1
Section: rust
Priority: optional
Build-Depends: debhelper (>= 10),
 dh-cargo (>= 3),
 librust-num-integer-0.1+default-dev (>= 0.1.32) <!nocheck>,
 librust-num-traits-0.1+default-dev (>= 0.1.32) <!nocheck>,
# above are from librust-num-bigint-0.1-dev
# below are all from dependencies of librust-num-bigint-0.1+default-dev
 librust-rand-0.3+default-dev (>= 0.3.14) <!nocheck>,
# above are from librust-num-bigint-0.1+rand-dev
 librust-rustc-serialize-0.3+default-dev (>= 0.3.19) <!nocheck>
# above are from librust-num-bigint-0.1+rustc-serialize-dev
Maintainer: Rust Maintainers <pkg-rust-maintainers@lists.alioth.debian.org>
Uploaders: Ximin Luo <infinity0@debian.org>
Standards-Version: 4.0.0
Vcs-Git: https://anonscm.debian.org/git/pkg-rust/rust-num-bigint-0.1.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-rust/rust-num-bigint-0.1.git
Homepage: https://github.com/rust-num/num

Package: librust-num-bigint-0.1-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-num-integer-0.1+default-dev (>= 0.1.32),
 librust-num-traits-0.1+default-dev (>= 0.1.32),
Description: Big integer implementation for Rust - Rust source code
 .
 This package contains the source for the Rust num-bigint crate, packaged by
 debcargo for use with cargo and dh-cargo.

Package: librust-num-bigint-0.1+default-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-num-bigint-0.1+rand-dev (= ${binary:Version}),
 librust-num-bigint-0.1+rustc-serialize-dev (= ${binary:Version})
Description: Big integer implementation for Rust - feature "default"
 .
 This package enables feature default for the Rust num-bigint crate, by pulling
 in any additional dependencies needed by that feature.

Package: librust-num-bigint-0.1+rand-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-num-bigint-0.1-dev (= ${binary:Version}),
 librust-rand-0.3+default-dev (>= 0.3.14),
Description: Big integer implementation for Rust - feature "rand"
 .
 This package enables feature rand for the Rust num-bigint crate, by pulling in
 any additional dependencies needed by that feature.

Package: librust-num-bigint-0.1+rustc-serialize-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-num-bigint-0.1-dev (= ${binary:Version}),
 librust-rustc-serialize-0.3+default-dev (>= 0.3.19)
Description: Big integer implementation for Rust - feature "rustc-serialize"
 .
 This package enables feature serde for the Rust num-bigint crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-num-bigint-0.1+serde-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-num-bigint-0.1-dev (= ${binary:Version}),
 librust-serde-0.7+default-dev | librust-serde-0.8+default-dev,
Description: Big integer implementation for Rust - feature "serde"
 .
 This package enables feature serde for the Rust num-bigint crate, by
 pulling in any additional dependencies needed by that feature.
