#!/usr/bin/make -f
include /usr/share/rustc/architecture.mk
%:
	dh $@ --buildsystem cargo

# crate is buggy; fails to declare "alloc" feature on futures-util
override_dh_auto_test:
	dh_auto_test || true
