# FIXME: this file is temporary and works around an existing bug in debcargo
# See TODO.md for details.
Source: rust-git2-0.6
Section: rust
Priority: optional
Build-Depends: debhelper (>= 10),
 dh-cargo (>= 3),
 librust-bitflags-0.9+default-dev <!nocheck>,
 librust-libc-0.2+default-dev <!nocheck>,
 librust-libgit2-sys-0.6+default-dev (>= 0.6.19) <!nocheck>,
 librust-url-1+default-dev <!nocheck>,
# above are from librust-git2-0.6-dev
# below are all from dependencies of librust-git2-0.6+default-dev
 librust-libgit2-sys-0.6+curl-dev (>= 0.6.19) <!nocheck>,
# above are from librust-git2-0.6+curl-dev
 librust-libgit2-sys-0.6+https-dev (>= 0.6.19) <!nocheck>,
 librust-openssl-probe-0.1+default-dev <!nocheck>,
 librust-openssl-sys-0.9+default-dev <!nocheck>,
# above are from librust-git2-0.6+https-dev
 librust-libgit2-sys-0.6+ssh-dev (>= 0.6.19) <!nocheck>,
# above are from librust-git2-0.6+ssh-dev
Maintainer: Rust Maintainers <pkg-rust-maintainers@lists.alioth.debian.org>
Uploaders: Ximin Luo <infinity0@debian.org>
Standards-Version: 4.0.0
Vcs-Git: https://anonscm.debian.org/git/pkg-rust/rust-git2-0.6.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-rust/rust-git2-0.6.git
Homepage: https://github.com/alexcrichton/git2-rs

Package: librust-git2-0.6-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-bitflags-0.9+default-dev,
 librust-libc-0.2+default-dev,
 librust-libgit2-sys-0.6+default-dev (>= 0.6.19),
 librust-url-1+default-dev
Provides:
 librust-git2-0.6+unstable-dev (= ${binary:Version}),
Description: Bindings to libgit2 for interoperating with git repositories - Rust source code
 This library is both threadsafe and memory safe and allows both reading and
 writing git repositories.
 .
 This package contains the source for the Rust git2 crate, packaged by debcargo
 for use with cargo and dh-cargo.

Package: librust-git2-0.6+default-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-git2-0.6+curl-dev (= ${binary:Version}),
 librust-git2-0.6+ssh-dev (= ${binary:Version}),
 librust-git2-0.6+https-dev (= ${binary:Version})
Description: Bindings to libgit2 for interoperating with git repositories - feature "default"
 .
 This package enables feature default for the Rust git2 crate, by pulling in
 any additional dependencies needed by that feature.

Package: librust-git2-0.6+curl-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-git2-0.6-dev (= ${binary:Version}),
 librust-libgit2-sys-0.6+curl-dev (>= 0.6.19),
Description: Bindings to libgit2 for interoperating with git repositories - feature "curl"
 .
 This package enables feature default for the Rust git2 crate, by pulling in
 any additional dependencies needed by that feature.

Package: librust-git2-0.6+https-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-git2-0.6-dev (= ${binary:Version}),
 librust-libgit2-sys-0.6+https-dev (>= 0.6.19),
 librust-openssl-probe-0.1+default-dev,
 librust-openssl-sys-0.9+default-dev,
Description: Bindings to libgit2 for interoperating with git repositories - feature "https"
 .
 This package enables feature default for the Rust git2 crate, by pulling in
 any additional dependencies needed by that feature.

Package: librust-git2-0.6+ssh-dev
Architecture: all
Depends:
 ${misc:Depends},
 librust-git2-0.6-dev (= ${binary:Version}),
 librust-libgit2-sys-0.6+ssh-dev (>= 0.6.19),
Description: Bindings to libgit2 for interoperating with git repositories - feature "ssh"
 .
 This package enables feature default for the Rust git2 crate, by pulling in
 any additional dependencies needed by that feature.
